BETTER_AUTH_SECRET=Tcdqag5ZliKJllJddOQiJ6tVgrxq0Cb0
BETTER_AUTH_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://TeamBasketAdmin:TeamBasketPassword@cluster0.t47d6.mongodb.net/techbasket-backend?appName=Cluster0

