BETTER_AUTH_SECRET=Tcdqag5ZliKJllJddOQiJ6tVgrxq0Cb0
BETTER_AUTH_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://Tech-Basket:sWpNeRWNZiwlKIAq@cluster0.d2o5rzn.mongodb.net/?appName=Cluster0
# NEXT_PUBLIC_SERVER_URL=http://localhost:5000